@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GoogleSansFlex-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/GoogleSansFlex-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/GoogleSansFlex-600.woff2') format('woff2');
}
